/* Style the header */
.header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  font-family: 'Dancing Script', cursive;
}
/* Resize img */

img {
    width: 100%;
    height: auto;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin:0;

  }
  th, td {
    text-align: left;
  }
  .kala1{
    background-color: #FFDEAD;
    padding: 15px;
    

  }
  .kala2{
    background-color: #87CEEB;
    padding: 15px;

  }
  .kala3{
    background-color:#7FFFD4;
    padding: 15px;

  }
  .kala4{
    background-color: #6495ED;
    padding: 15px;

  }
  .kala5{
    background-color: #9370DB;
    padding: 15px;

  }
 